.place__wedsite {
    margin: 0;
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: start;
    align-self: end;

}

@media screen and (max-width: 320px) {
    .place__wedsite {
       min-width: 288px;
       margin: 0 auto;
    }
}