.places {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: 92px auto 92px;
    row-gap: 80px;
}

@media screen and (max-width: 768px) {
    .places {
        margin: 88px auto 90px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 64px auto 66px;
        row-gap: 50px;
    }
}