.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 92px auto 0;
    padding-bottom: 24px;
    
}

@media screen and (max-width: 1190px) {
    .footer {
        max-width:928px;
    }
}

@media screen and (max-width: 920px) {
    .footer {
        max-width:720px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        flex-direction: column;
        max-width:288px;
        margin: 64px auto 0;
    }
}