.place__paragraph-text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF; 
}

.place__paragraph-text:nth-child(even) {
    margin-top: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph-text {
        font-size: 16px;
    }
    .place__paragraph-text:nth-child(even) {
        margin-top: 25px;
    }
}